doctype html
html
    head
        style
            include style.css
    body
        header.common
            | それはあなたの最大の間違いでした。
        main
            block content
        footer.common
            | でも手遅れです。
