<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div style="text-align: center; font-weight: 800; font-size: 25px;">User Info:</div>
    <div style="border: 2px solid mediumaquamarine; padding: 10px; margin: 10px; text-align: center;">
        <div>Nickname: {{user.nickname}};</div>
        <div>Email: {{user.email}}</div>
    </div>

</body>
</html>
